:host {
  display: block;
  width: 100%;
  padding-top: 10px;
}
.rule-input,
.rule-output {
  border-radius: 5px;
  display: block;
  padding: 4px;
  border: 0;
  margin-bottom: 5px;
}
.rule-input {
  background-color: turquoise;
  width: 80%;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 10px;
}
.rule-output {
  background-color: lavender;
  width: 80%;
  margin-left: auto;
  margin-right: 5px;
}
