:host {
  display: block;
  width: 100%;
  padding-top: 0.1px;
}
.rule-input,
.rule-output {
  border-radius: 5px;
  display: block;
  padding: 4px;
  border: 0;
  margin-bottom: 5px;
}
.rule-input {
  background-color: turquoise;
  width: 80%;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 10px;
}
.rule-output {
  background-color: lavender;
  width: 80%;
  margin-left: auto;
  margin-right: 5px;
}
.delete-rule {
  float: right;
  background-color: red;
  color: white;
  margin: 0px 5px;
  width: 18px;
  text-align: center;
  height: 18px;
  font-weight: bold;
  border: 0;
}
.title-text {
  margin: 5px;
}
.appmaker-btn {
  line-height: 2em;
  width: 50%;
  margin: 5px auto;
  background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(221, 221, 221));
  border: 0.1rem solid rgb(166, 166, 166);
  border-top-left-radius: 0px;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: FiraSans, sans-serif;
  background-position: initial initial;
  background-repeat: initial initial;
}
.appmaker-btn:active {
  background-image: -webkit-linear-gradient(top, rgb(221, 221, 221), rgb(221, 221, 221));
  background-position: initial initial;
  background-repeat: initial initial;
}
